/*TODA LA PAGINA*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: #faefcf;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}

/*CABECERA + BARRA DE BUSQUEDA*/
/*Cabecera General*/
.cabecera{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: #ffffff;
    border-bottom: 1px solid #d4af37;
}
/*Logo*/
img{
    height: 80px;
}
/*BARRA DE BUSQUEDA*/
.busqueda{
    display: flex;
    align-items: center;
    width: 600px;    
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    overflow: hidden;
    background-color: #fff; 
    transition: border-color 0.4s linear;
}
/*Cambios cuando hacemos click en la barra de busqueda*/
.busqueda:focus-within{
    border: 2px solid #d4af37;
}
.busqueda input{
    border: none;
    padding: 10px 20px;
    outline: none;
    font-size: 14px;
    width: 100%;
}
.busqueda button{
    background-color: transparent;
    border: none;
    color: black;
    height: 100%;
    padding: 0 15px;
    cursor: pointer;
}
/*Cmabios cuando pasamos el raton por la lupa*/
.busqueda button:hover{
    background-color: transparent;
    color: #a2852e;
}
/*Acciones del Usuario*/
.acciones{
    display: flex;
    align-items: center;
}
.acciones a{
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
    transition:  0.3s;
}
/*Cambios cuando pasamos el raton por encima de los botones de accion del usuario*/
.acciones a:hover{
    transform: scale(1.5);
}
.idioma{
    display: flex;
    align-items: center;
    background-color: #000;
    padding: 5px 12px;
    border-radius: 8px;
    position: relative;
    width: 70px;
    height: 35px;
    margin-right: 20px;
}
.idioma select {
    background: #000;
    border: none;
    color: #fff;
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
    appearance: none;
    outline: none;
}
.idioma i{
    color: #fff;
    font-size: 10px;
    position: absolute;
    right: 8px;
    pointer-events: none;
}

/*MENU ARTICULOS*/
.contenedor-menu{
    background-color: #d4af37;
    padding: 20px;
}
.contenedor-menu a{
    color: black;
    text-decoration: none;
}
.menu{
    position: relative;
    display: inline-block;
}
.menu > a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}
.contenedor-lateral{
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.1);
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;
}
.menu:hover .contenedor-lateral{
    transform: translateX(0);
}
.cabecera-contenedor-lateral{
    padding: 30px 20px;
    background-color: #d4af37;
    color: #000000;
    text-align: center;
}
.contenedor-lateral ul{
    list-style: none;
    padding: 20px 0;
}
.contenedor-lateral ul li a{
    display: block;
    padding: 15px 25px;
    color: #333;
    text-decoration: none;
    font-size: 16px;
    border-bottom: 1px solid #f4f4f4;
    transition: 0.3s;
}
.contenedor-lateral ul li a img {
    vertical-align: middle;
    margin-right: 15px;
    width: 20px;
    color: #d4af37;
}
.contenedor-lateral ul li a:hover {
    background-color: #faefcf;
    padding-left: 30px;
    color: #000;
}
ul li img{
    height: 25px;
}

/*Panel Principal*/
.panel-index{
    padding: 10px;
}
.articulo{
    display: inline-block;
    vertical-align: middle;
    width: 250px;
    margin: 15px;
    padding: 10px;
    background-color: #faecc0;
    border: 1px solid #ccc;
    border-radius: 16px;
    text-align: center;
}
.articulo img{
    width: 100%;
    height: auto;
    border-radius: 16px;
}
.articulo p{
    padding-top: 5px;
    font-size: 15px;
    font-weight: lighter;
}
.extra{
    display: inline-block;
    vertical-align: middle;
    margin: 15px;
    border: none;
}
.extra a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
}
.seccion{
    padding: 20px 30px;
    border-bottom: 1px solid #d4af37;
}
.seccion > p{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: left;
}

/*PIE DE PAGINA*/
.pie{
    background-color: #d4af37;
    color: black;
    text-align: center;
    padding: 10px 10px;
    width: 100%;
    height: 35px;
}
.pie p{
    margin: 0;
    font-size: 12px;
}

/*Panel palas*/
.panel-palas{
    padding: 40px;
    text-align: center;
    display: flex;
    /*cuando no quepan mas en la pantalla, se salta de linea*/
    flex-wrap: wrap;
    justify-content: center;
}
.panel-palas .articulo{
    width: 30%;
    min-width: 300px;
    margin: 1.5%;
    padding: 20px;
}
.panel-palas .articulo p{
    font-size: 20px;
    font-weight: bold;
}
.panel-palas .articulo img{
    height: auto;
    margin-bottom: 15px;
}
/*Panel ropa*/
.panel-ropa{
    padding: 40px;
    text-align: center;
    display: flex;
    /*cuando no quepan mas en la pantalla, se salta de linea*/
    flex-wrap: wrap;
    justify-content: center;
}
.panel-ropa .articulo{
    width: 30%;
    min-width: 300px;
    margin: 1.5%;
    padding: 20px;
}
.panel-ropa .articulo p{
    font-size: 20px;
    font-weight: bold;
}
.panel-ropa .articulo img{
    height: auto;
    margin-bottom: 15px;
}

/*Panel pelotas*/
.panel-pelotas{
    padding: 40px;
    text-align: center;
    display: flex;
    /*cuando no quepan mas en la pantalla, se salta de linea*/
    flex-wrap: wrap;
    justify-content: center;
}
.panel-pelotas .articulo{
    width: 30%;
    min-width: 300px;
    margin: 1.5%;
    padding: 20px;
}
.panel-pelotas .articulo p{
    font-size: 20px;
    font-weight: bold;
}
.panel-pelotas .articulo img{
    height: auto;
    margin-bottom: 15px;
}

/*Panel Zapatillas*/
.panel-zapatillas{
    padding: 40px;
    text-align: center;
    display: flex;
    /*cuando no quepan mas en la pantalla, se salta de linea*/
    flex-wrap: wrap;
    justify-content: center;
}
.panel-zapatillas .articulo{
    width: 30%;
    min-width: 300px;
    margin: 1.5%;
    padding: 20px;
}
.panel-zapatillas .articulo p{
    font-size: 20px;
    font-weight: bold;
}
.panel-zapatillas .articulo img{
    height: auto;
    margin-bottom: 15px;
}

/*Panel Accesorios*/
.panel-accesorios{
    padding: 40px;
    text-align: center;
    display: flex;
    /*cuando no quepan mas en la pantalla, se salta de linea*/
    flex-wrap: wrap;
    justify-content: center;
}
.panel-accesorios .articulo{
    width: 30%;
    min-width: 300px;
    margin: 1.5%;
    padding: 20px;
}
.panel-accesorios .articulo p{
    font-size: 20px;
    font-weight: bold;
}
.panel-accesorios .articulo img{
    height: auto;
    margin-bottom: 15px;
}

/*FORMULARIO*/
.panel-formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

.contenedor-formulario {
    background-color: white;
    width: 500px;
    padding: 40px;
    border-radius: 15px;
    border: 2px solid #d4af37;
}

.contenedor-formulario h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
    font-size: 24px;
}

.casilla {
    margin-bottom: 20px;
    text-align: center;
}

.casilla label {
    display: flex;
    font-weight: bold;
    margin-bottom: 10px;
    color: #555;
}

.casilla input {
    width: 100%;
    padding: 10px;
    border: 1px solid #7f7d7d;
    background-color: #fdf8e8;
    border-radius: 16px;
    font-size: 16px;
    box-sizing: border-box;
}

.boton-enviar {
    width: 100%;
    padding: 15px;
    background-color: #d4af37;
    color: #000;
    border: none;
    border-radius: 16px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.boton-enviar:hover {
    background-color: #bb9936;
}
